<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-qEUzyN6zh1f8liRuWECB54M6e8IESVo</string>
	<key>GCM_SENDER_ID</key>
	<string>516295979609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playmakers.ra.zh</string>
	<key>PROJECT_ID</key>
	<string>sdk-test-7af96</string>
	<key>STORAGE_BUCKET</key>
	<string>sdk-test-7af96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516295979609:ios:3e30b72b55f29ee2f47748</string>
</dict>
</plist>